@import '../../assets/styles/_config.scss'; 
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Fira+Sans:ital,wght@1,400;1,600&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Fira+Sans:ital,wght@1,400;1,600&family=League+Spartan:wght@900&family=Open+Sans:wght@400;700&display=swap');

.header {
    background-color: $color-secondary;
    color: $color-neutral-darkest;
    max-height: 6rem;
    min-height: 6rem;
    font-size: 4rem;
    font-family: 'League Spartan', sans-serif;
    //font-family: 'Faster One', 'Fira Sans', 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewY(-2deg); 
    transform-origin: 0;
    z-index: -1; 
    border-top-left-radius: 0.5rem; /* Pyöristä vain ylävasen kulma */
  }
  