@import '../../assets/styles/_config.scss'; 
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Fira+Sans:ital,wght@1,400;1,600&family=Open+Sans:wght@400;700&display=swap');

.header {
    background-color: $color-secondary;
    color: $color-neutral-darkest;
    max-height: 7rem;
    min-height: 7rem;
    font-size: 4rem;
    font-family: 'Faster One', 'Fira Sans', 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewY(-5deg); /* Kääntää elementtiä viistoon */
    transform-origin: 0;
    z-index: -1; /* Taustaelementti alemmaksi kuin otsikko */
  }
  